<div class="sidebar">
  <div class="container sidebar">
    <div class="sidebar-about">
      <h1 align="center">
        <a href="{{ site.baseurl }}/">
          {{ site.title }}
        </a>
      </h1>
      <p align="center">Documentation</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/overview/">Overview</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/wood_patterns/">Wood Pattern Selection</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/finger_spacing_options/">Finger Spacing Options</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/editor/">Editor</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/double_joints/">Double Joints</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/alignment/">Alignment of Router Passes</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/menus/">Drop-down Menus</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/template/">Template Details</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/saving_preferences/">Saving Preferences</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/needed_improvements/">Needed Improvements</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/additional_resources/">Additional Resources</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/acknowledgments">Acknowledgments</a>
    </nav>

    <div class="sidebar-closing">
      <p>
        <a href="{{ site.author.url }}" class="user-mention">{{ site.author.name }}</a><br>
        &copy; 2015-{{ site.time | date: '%Y' }}. All rights reserved.
      </p>
    </div>
  </div>
</div>
