<div class="sidebar">
  <div class="container sidebar">
    <div class="sidebar-about">
      <h1 align="center">
        <a href="{{ site.baseurl }}/">
          {{ site.title }}
        </a>
      </h1>
      <p align="center">Currently version {{ site.version }}</p>
    </div>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages | sort:"url" %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <a class="sidebar-nav-item" href="{{ site.baseurl }}/overview/">Documentation</a>
      <a class="sidebar-nav-item" href="{{ site.github.url }}/releases/download/{{ site.version }}/pyRouterJig.exe">Download for Windows</a>
      <a class="sidebar-nav-item" href="{{ site.github.url }}/releases/download/{{ site.version }}/pyRouterJig.app.zip">Download for Mac</a>
      <a class="sidebar-nav-item" href="{{ site.github.url }}">GitHub project</a>
    </nav>

    <div class="sidebar-item">
      <p>
        Written by <a href="{{ site.author.url }}" class="user-mention">@{{ site.author.moniker }}</a><br>
        &copy; 2015-{{ site.time | date: '%Y' }}. All rights reserved.
      </p>
    </div>
  </div>
</div>
